div, p, body, button, h2, h3, img, hr, li, ul, span, section {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1300px;
}
p, h1, h2, h3, span {
	cursor: default;
}
@font-face {
	font-family: GothamBold;
	src: url("../fonts/Gotham/GothamHTF-Bold.otf");
}
@font-face {
	font-family: GothamBook;
	src: url("../fonts/Gotham/GothamHTF-Book.otf");
}
@font-face {
	font-family: GothamBlack;
	src: url("../fonts/Gotham/GothamHTF-Black.otf");
}
@font-face {
	font-family: GothamMedium;
	src: url("../fonts/Gotham/GothamHTF-Medium.otf");
}
@font-face {
	font-family: GothamThin;
	src: url("../fonts/Gotham/GothamHTF-Thin.otf");
}
@font-face {
	font-family: GothamLight;
	src: url("../fonts/Gotham/GothamHTF-Light.otf");
}

@font-face {
	font-family: RobotoLight;
	src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@import "headerItems/header";
@import "timeline/timeline";
@import "analytics/analytics";
@import "overview/overview";
@import "diaggraph/diaggraph";
@import "press/press";
@import "footer/footer";

.active {
	color: white !important;
	border-bottom: 2px solid $light-green;
	padding-bottom: 4px;
}