div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1300px;
	font-family: GothamBook, sans-serif;
	line-height: 1.4;
}
p, h1, h2, h3, span {
	cursor: default;
}
@import "UI/color";
@import "UI/fonts";
@import "main-style";

@import "headerItems/header";
@import "timeline/timeline";
@import "analytics/analytics";
@import "overview/overview";
@import "diaggraph/diaggraph";
@import "press/press";
@import "footer/footer";

.active {
	color: white !important;
	border-bottom: 2px solid $light-green;
	padding-bottom: 4px;
}