$light-green: #22ddbc;
div, p, body, button, h1, h2, img, hr, li, ul, span {
	margin: 0;
	padding: 0;
}
.main-header {
	color: white;
	background-color: #252528;
	background-image: url("../img/headerItems/bg.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 800px; 
		@import "top-header"; /* Вся верхушка с навигацией тут */
		@import "middle-header";
}

