.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 80px;
	margin: auto;
	.logo { 
		font-size: 19px;
		font-weight: 700;
		span {
			color:$light-green;
			border: 2px solid white;
			padding: 5px;}
	}
	nav {
		font-size: 14px;
		display: flex;
		.menu-header {
			li {
				display: inline-block;
				margin-right: 20px;
				padding: 8px 0;
				a {
					color: $light-grey;
					text-decoration: none;
					&:hover { color: white;}
				}
			}
		}
		@import "dropbtn"; /* menu drop list */
	}	
}