.footer {
	background-color: #f1f2f6;
	height: 50vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	.footer-list {
		min-height: 300px;
		font-weight: 300;
		height: 70%;
		display: flex;
		justify-content: center;
		width: 80%;
		justify-content: space-between;
		padding-top: 30px;
		ul {
			list-style: none;
			li {
				width: 200px;
				line-height: 32px;
				font-size: 13px;}
		}
		h4 {
			position: relative;
			margin-bottom: 30px;
			font-size: 14px;
			font-weight: 500;}
	}
	.footer-copyright {
		font-size: 13px;
		border-top: 2px solid #e6e7ec;
		height: 30%;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;	
		color: #55565a;
		.logo { 
			span {
				font-size: 19px;
				font-weight: 900;
				color: #bf17a0;
				border: 2px solid #8c8d93;
				padding: 5px;}
		}
		.terms {
			justify-content: space-between;
			display: flex;
			align-items: center;
			width: 35%;
			position: relative;
			#to-top {
				padding: 23px;
				position: relative;
				border-radius: 50%;
				background-color: #fff;
				&:after {
					content: "";
					border-top: 1px solid #a1a3a9;
					border-left: 1px solid #a1a3a9;
					position: absolute;
					padding: 6px;
					left: 16px;
					top: 20px;
					transform: rotate(45deg);}
			}
		}
	}
}